# HW-2: Exploratory Data Analysis 

Write Python script/commands to:

##### 1. Load the dataset 'iris' using seaborn library

##### 2. Display the first 15 and last 15 rows of the dataset

##### 3. Access and display any single column in atleast two different ways

##### 4. Display the dtype of each column (Hint: try using a pandas built-in method)

##### 5. Make and save a scatter plot between columns 'sepal_length' and 'petal_length' and color by 'species' column using the following libraries:
    (a) Matplotlib
    (b) Seaborn
    (c) Plotly
    (d) Pandas plotting

    Note: Make sure to add axis labels, legend in every plot

##### 6. Create a corelation matrix for the numbered columns by using the correlation methods: 
    (a) pearson
    (b) kendall
    (c) spearman

    Hint: Check the documentaion of pandas method 'corr'

##### 7. Find the unique species and count of each unique species,
    (a) without pandas built-in method
    (b) with pandas built-in method

##### 8. Do a pandas 'describe' operation on your dataframe

##### 9. Draw a boxplot and violin plot for all the numbered columns and check for yourself if the visualtion matches with the numbers from the above question

##### 10. Make a pairplot using the seaborn library with the dataset as your input. Color it using the 'species column'

# Bonus Questions (Practice only - NOT for evaluation)

##### 11. Using plotly library, make a 3D plot with any 3 features of the dataframe

##### 12. Using the pandas groupby method, display dataframes by accessing the unique value from the grouped object.

##### 13. Answer Q5 using the 'bokeh' library

##### 14.  Load the 'titanic' dataset using seaborn library and drop the rows with Null value in any of the columns

##### More practice with datasets at https://kaggle.com